:root {
    --side-color: #242525;
    --font-color: #ffffff;

    --hover-color: #383838;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    background-color: var(--side-color);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
}

.container > * {
    padding: 20px;
    color: var(--font-color);
}

.container button {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}

.container button:hover {
    background-color: var(--hover-color);
}

.container button span {
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-100%);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        transform: translate(-100%);
        opacity: 0;
    }
}

@media only screen and (max-width: 574px) {
    .container {
        animation: fadeout 1s;
        animation-fill-mode: forwards;
        display: none;
    }
}

@media only screen and (min-width: 575px) {
    .container {
        animation: fadein 1s;
        animation-fill-mode: forwards;
        display: inline-block;
    }
}
