:root {
    --title-color: #ffffff;
    --other-font-color: #727272;

    --title-small-size: 1rem;
    --other-small-size: 0.8rem;

    --title-middle-size: 1.5rem;
    --other-middle-size: 1.2rem;

    --title-large-size: 1.7rem;
    --other-large-size: 1.3rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    transition: 0.2s ease-in-out 0s;
    text-align: left;
}

.container:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container > img {
    width: 180px;
    height: 101px;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.texts {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.title {
    color: var(--title-color);
    font-size: var(--title-small-size);
}

.chanelImg {
    display: none;
    border-radius: 50%;
    margin: 8px;
}

.chanel,
.publishTime {
    color: var(--other-font-color);
    font-size: var(--other-small-size-size);
    margin-left: 5px;
}
